//Colores
$celeste: #92DCE5;
$rojo: #EF6461;
$negro: #000;

// Tipografias
$tipo-base: 'Roboto', sans-serif;
$bold: 700;
$medium: 500;
$normal: 400;
$font-size-sup: 13;
$font-size-logo: 47;
$font-size-title-content: 33;
$font-size-name: 27;
$font-size-title-video: 24;
$font-size-follow: 19;
$font-size-follow-video: 21;